.loginForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm form {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
}


.loginForm input {
    width: 300px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 16px;
}

.loginForm .rememberMe {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-bottom: 10px;
    font-size: 16px;
}

.rememberMe input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.loginForm button {
    width: 300px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 10px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.loginForm button:hover {
    background-color: #504c4c;
    border: 1px solid #333;
}

.loginForm a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    background-color: #fff;
}

.loginForm a:hover {
    text-decoration: underline;
}

.userForm button {
    background-color: #70b830;
    color: #f7eaea;

}

.userForm button:hover {
    background-color: #6cae32;
}

.userForm input {
    border: 2px solid #78c733;
}

.p-login-type {
    width: 200px;
    margin-bottom: 5px;
    font-size: 16px;
    /* font-style: oblique; */
    color: #333;
    text-align: center;
}
.userForm form{
    box-shadow: 0 0 10px rgba(85, 112, 36, 0.413);
}
.register-link:hover {
    text-decoration: underline;
    cursor: pointer;

}