.continerListPassed {
    margin: auto;
    width: 80%;
}

.userCard{
    transition: transform 0.4s;
}

.userCard:hover{
    background-color: #e6e6e6;

    cursor: pointer;
    transform: translate(-6px, -6px);

}

a{
    text-decoration: none;
    color: black;
}