.mishnaiotContiner {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: rgb(230, 219, 219);
    border-radius: 20px;
    /* gap: 5px; */
    /* height: 500px; */
}

.mishnaiotContiner .header {
    display: flex;
    justify-content: center;
    grid-column: span 6;
    grid-row: span 1;
    /* border: 1px solid rgb(31, 24, 24); */

}

.seder {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    grid-column: span 1;
    grid-row: span 4;
    gap: 3px;
    /* border: 1px solid rgb(31, 24, 24); */

}

.masechet {
    display: flex;
    align-items: start;
    /* border: 1px solid rgb(31, 24, 24); */

}

.btn-send {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: span 1;
    grid-column: span 6;
}