p {
    margin: 0;
}

h3 {
    margin: 0;
}

h5 {
    margin: 2px 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 8vw);
    grid-template-rows: repeat(4, 10vh);
    width: 48vw;
    height: 40vh;
    /* border: 1px solid rgb(19, 15, 15); */
}

.grid-container .card-img {
    margin-top: 1%;
    height: 18vh;
}

.grid-container img {
    height: 100%;
    border-radius: 10%;
}

.grid-container img:hover {
    cursor: pointer;
}

.grid-item1 {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    /* border: 1px solid rgb(19, 15, 15); */
    grid-column: span 6;
    grid-row: span 2;
    padding-left: 10%;

}

.grid-item1 h2 {
    margin-left: 10%;
}


.grid-item2 {
    /* border: 1px solid rgb(19, 15, 15); */
    padding-left: 30%;
    grid-column: span 2;
}

.grid-item3 {
    /* border: 1px solid rgb(19, 15, 15); */
    padding-left: 30%;
    grid-column: span 2;
}

.grid-item3 p {
    font-size: 1.5vw;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 90vw;
        height: auto;
    }

    .grid-item1 {
        padding-left: 5%;
    }

    .grid-item2,
    .grid-item3 {
        padding-left: 10%;
        grid-column: span 1;
    }

    .grid-item3 p {
        font-size: 1.2vw;
    }
}
@media screen and (max-width: 500px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        width: 90vw;
        height: auto;
    }

    .grid-item1 {
        padding-left: 5%;
    }

    .grid-item2,
    .grid-item3 {
        padding-left: 10%;
        grid-column: span 1;
    }

    .grid-item3 p {
        font-size: 1.2vw;
    }
}
 
