p,
h3,
h5 {
    margin: 0;
}

.name {
    font-weight: bold;
    margin-top: 3%;
    font-size: xx-large;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: fit-content;
    /* border: 1px solid rgb(19, 15, 15); */
    margin-left: 5%;
}

.grid-container .card-img {
    margin-top: 1%;
    height: 70%;
    margin-bottom: 5px;
    /* border: 1px solid rgb(19, 15, 15); */

}

.grid-container img {
    height: 160px;
    width: 160px;
    border-radius: 10%;
    object-fit: cover;

}

.grid-container img:hover {
    cursor: pointer;
    /* border: 1px solid rgb(19, 15, 15); */

}

.grid-item1 {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    /* border: 1px solid rgb(19, 15, 15); */
    grid-column: span 3;
    grid-row: span 2;
    /* padding-left: 10%; */

}

.grid-item1 h2 {
    margin-left: 10%;
}


.grid-item2 {
    /* border: 1px solid rgb(19, 15, 15); */
    /* padding-left: 30%; */
    grid-column: span 1;
}

.grid-item3 {
    /* border: 1px solid rgb(19, 15, 15); */
    grid-column: span 1;
}

.grid-item3 p {
    font-size: 35px;
    text-shadow: 3px 3px 3px rgb(69, 67, 67);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {}

@media screen and (max-width: 500px) {}